@media only screen and (max-width: 768px) {
    .projectstext{
        width: 90% !important;
        height:70% !important;
    }
    .underline1{
        font-size: 30px !important;
    }
    .box1-text{
        font-size: 40px !important;
    }
    .box2-text{
        font-size: 40px !important;
    }
}



.underline1{
    font-size: 30px;
}
.legal{
    font-size: 60px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.legalh2{
    font-size: 50px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.projectstext{
    width: 900px;
    height: 600px;
    white-space: initial;
    word-wrap: break-word;
    color: white;
    text-align: left;
}
.projectstext::-webkit-scrollbar {
    width: 5px;
    margin-right: 2px;
  }
  
  /* Track */
.projectstext::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
.projectstext::-webkit-scrollbar-thumb {
    background: gray;
    border-end-start-radius: 5px;
  }
  
  /* Handle on hover */
.projectstext::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
.linked6 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #02455a, rgb(162, 180, 0));
    cursor: pointer;
    transition: transform 0.3s ease, top 0.3s ease;
}

.linked6:hover {
    transform: scale(1.05);
    top: 18px;
    filter: brightness(1.2);
}