@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .about-container {
        justify-content: center;
    }
    .about {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about-container {
        justify-content: center;
    }
    .about {
        width: 48%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .about-container {
        justify-content: space-between;
    }
    .about {
        width: 30%;
    }
}

/* Additional mobile styles */
@media only screen and (max-width: 514px) {
    .project-box {
        width: 90%; 
    }
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: monospace;
    scroll-behavior: smooth;
    background-color: black;
    max-width: 100%;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 50vh;
    font-size: xx-large;
}

header {
    text-align: center;
    padding: 25px 0;
    background-color: #333333;
    background-image: linear-gradient(45deg, gold, #a200ff);
    align-items: center;
    z-index: 10000000000;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: block;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.6s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

main {
    padding: 20px;
}

.box1-text,
.box2-text {
    font-size: 50px; 
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    clip-path: inset(-6px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

.box1-text::after {
    content: attr(data-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: linear-gradient(45deg, gold, #a200ff);
    opacity: 1;
    animation: move 1s forwards;
    background-clip: text;
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
    border-image: linear-gradient(45deg, gold, #a200ff) 1;
    border-width: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

@keyframes move {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.box3 {
    text-align: center;
    margin: 0;
    padding: 0;
    border-radius: 25px;
}
.box3b{
    text-align: center;
    background-image: linear-gradient(to left, #23B5D3);
    margin: 0;
    padding: 0;
    border-radius: 25px;
    height: 50px;
    width: 400px;
    font-size: xx-large;
    font-size: 40px;
    color: white;
    
}
.box3c{
    color: white;
}

.proj-container {
    display: fixed;
    flex-wrap: flex;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
  }

.project-box {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    position: relative; 
    background-color: transparent;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    filter: hue-rotate(360deg);
    border-width: 5px;
    border-color: white;
    box-shadow: h-offset v-offset blur spread color;
    border-style: solid;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    color: rgb(218, 218, 218);
}
.project-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.project-box1 {
    width: 400px;
    height: 110px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease;
}
.photoproj {
    width: 350px;
    height: 200px;
    border-radius: 5px;
    margin: 0; 
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 24px;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 10px;
    left: 5.4%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.projname{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin: 0; 
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 24px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 200px;
    left: -.2%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 225, 255);
}
.projused{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    font-size: 34px;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 300px;
    left: 4.5%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 225, 255);
    font-size: xx-large;
    text-indent: 50px;
}

.projrole{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 8px;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 277.3px;
    left: 4.6%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 225, 255);
    font-size: x-small;
}
.projdays2,
.projdays1,
.projdays{
    width: 126px;
    height: 25px;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    font-size: 10px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 277.3px;
    left: 61.3%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 225, 255);
    font-size: x-small;
}


.project-box a {
    text-decoration: none;
    color: #ffffff;
}

.project-box:hover{
    transform: scale(1.1);
    color: white;
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); 
    }
}

footer {
    background-image: linear-gradient(to center, #23B5D3, black);
    text-align: center;
    border-top-width: 5px; 
    border-top-color: rgb(46, 46, 46); 
    border-top-style: solid; 
    clip-path: inset(-6px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

.footer1{
    height: 100px;
    width: 400px;
    background-color: transparent;
    left: 4.5%;
    margin: 0 -100px 10px 10px;
    text-align: left;
    color: white;
    text-shadow: 5px 5px 100px white;
    min-height: 10px;
    top: 1px;
    cursor: default;

}
.footer1 h4{
    text-shadow: 4px 2px 7px white;
    font-size: x-large;
    color: white;
    z-index: 7;
    cursor: pointer;
}
.footer1 p{
    font-size: small;
    color: white;
    z-index: 7;
    cursor: default;
}
.footer1 p:hover {
    color: gold;
    cursor: default;
}
.footer1 h4:hover {
    color: gold;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    font-size: xx-large;
}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 10px;
    bottom: 0%;
    font-size: xx-large;
}

.social-links a:hover {
    color: gold;
}

/* Color Palette */
:root {
    --red-color: gold;
    --green-color: gold;
    --blue-color: #a200ff;
}



header{
    background-image: linear-gradient(45deg, gold, #a200ff);
    color: white;
}
nav ul li a:hover,
.project-box {
    border-width: 5px;
    border-color: white;
}


.hidden{
    opacity: 0;
    transition: 5s;
}
.show{
    opacity: 1;
    transition: 5s;
}
.about-container {
    display: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
  }
  

  .about {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    position: relative;
    background-image: linear-gradient(45deg, gold, #a200ff);
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease;
    cursor: crosshair;
    border-width: 10px;
    border-image: linear-gradient(45deg, gold, #a200ff) 1;
    box-shadow: h-offset v-offset blur spread color;
    border-style: solid;
    opacity: 1;
    border-radius: 10px;
    display: fixed;
  }
.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, gold, #a200ff);
    opacity: 1.1;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

.aboutcode{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    padding: 9px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    font-size: 34px;
    color: white;
    transition: transform 0.3s ease;
    position: absolute;
    top: 10px;
    left: 4.5%;
    border-style: solid;
    border-color: white;
    font-size: xx-large;
    text-indent: 5px;
    border-width: 3px;
}
.aboutdev{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 0;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: transparent;
    font-size: 34px;
    color: white;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 58px;
    left: 4.5%;
    border-width: 2px;
    border-style: solid;
    font-size: xx-large;
    text-indent: 5px;
    text-align: center;
}

.abouttext{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 2px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: transparent;
    font-size: 25px;
    color: white;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 125px;
    left: 4.5%;
    border-width: 2px;
    border-style: solid;
    font-size: x-large;
    text-indent: 5px;
}

.about p {
    margin: 0;
    border-radius: 10px;
}

.about a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
}

.about:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .underline {
    border-bottom: 5px solid #a200ff;
  }

.box1-text {
  background-image: linear-gradient(45deg, gold, #a200ff);
  animation: moveGradient1 5s linear infinite;
}

.box2-text {
  display: none;
  background-image: linear-gradient(45deg, gold, #a200ff);
  animation: moveGradient2 5s linear infinite;
}




@keyframes moveGradient1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient2 {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 514px) {
    body:before {
        content: "If you can turn your device horizontally for a better experience.";
        display: block;
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        text-align: center;
    }
}

.cvholder{
    display: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
.cv{
    height: auto;
    width: auto;
    overflow: scroll;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    scrollbar-color: black;
}
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./wave-haikei\ \(1\).svg);
    z-index: 9;
}
.glower {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 0 0 600px 250px purple;
    background-color: transparent;
}
.glower1 {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 5px 100px 800px 200px blue;
    background-color: transparent;
    z-index: -5;
}
.glower2 {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 5px 100px 400px 200px gold;
    background-color: transparent;
    z-index: -5;
}