
/* Color Palette */
:root {
    --text: #ffffff;
    --background: #0a141f;
    --primary: #254183;
    --secondary: #001952;
    --accent: #3863c7;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 1400px;
}

/* width */
body::-webkit-scrollbar {
    width: 5px;
    margin-right: 2px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: gold;
    border-end-start-radius: 5px;
  }
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }

.box2-text {
    opacity: 1;
    transition: opacity 0.4s ease-in-out; /* Adjust the duration and timing function as needed */
}

html, body {
    overflow-x: hidden;
}
body {
    position: relative
}
.box2-text.fade-out {
    opacity: 0;
    transform: 0.4s;
}

.shiny::after {
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px + 70px);
    left: calc(var(--x, 0) * 1px - 50px);
    width: 100px;
    height: 100px;
    background: radial-gradient(white, #0062ff00 50%);
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -100000;
  }
  
  .shiny:hover::after {
    opacity: 0.15;
  }
@media only screen and (max-width: 368px) {

}
/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .about-container {
        justify-content: center;
        grid-template-columns: repeat(1, -00px) !important;
    }
    .button3{
        width: 300px !important;
        font-size: 20px !important;
    }
    body {
        font-size: smaller;
    }
    nav ul li a {
        font-size: 10px !important; 
        padding: 0.5px 0px !important; 
        margin: 0px 0 !important; 
        top: 5px;
    }
    .box1-text{
        font-size: 25px !important;
        text-align: center;
        color: white !important;
    }
    .box2-text{
        font-size: 25px !important;
        text-align: center;
        color: white !important;
    }
    section{
        min-height: 20vh !important;
    }
    header{
        width: 100% !important;
        padding-right: 0 !important;
        margin: 0 !important;
    }
    .warnbox{
        margin: 0;
        padding: 0;
        width: 10px;
        font-size: xx-small;
    }
    .glower{
        box-shadow: 0 0 300px 150px purple !important;
    }
    .glower1{
        box-shadow: 0 0 300px 150px blue !important;
    }
    .proj-container {
        grid-template-columns: repeat(1, 127px) !important;
    }
    .linkedinc{
        grid-template-columns: repeat(1, 127px) !important;
    }
    .about {
        width: 90%;
        left: -50px !important;
    }
    .container1{
        grid-template-columns: repeat(1, 0px) !important;
        left: -150px !important;
    }
    .holderc{
        grid-template-columns: repeat(1, 0px) !important;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 769px) and (max-width: 1250px) {
    .about-container {
        justify-content: center;
        grid-template-columns: repeat(1, 127px) !important;
    }
    .about {
        width: 90%;
        left: -20px !important;
    }
    .box1-text{
        text-align: center;
        color: white !important;
        
    }
    .box2-text{
        text-align: center;
        font-size: 40px !important;
        color: white !important;
    }
    nav ul li a {
        border-width: 3px;
    }
    .proj-container {
        grid-template-columns: repeat(1, 127px) !important;
    }
    .linkedinc{
        grid-template-columns: repeat(1, 127px) !important;
    }
    .about-container{
        grid-template-columns: repeat(2, 427px) !important;
    }
    .holderc{
        grid-template-columns: repeat(1, 0) !important;
    }
}
/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    .about-container {
        justify-content: space-between;
    }
    .about {
        width: 30%;
    }
}

/* Additional mobile styles */
@media only screen and (max-width: 514px) {
    .project-box {
        width: 90%; 
    }
}

body {
    margin: 0 auto;
    padding: 0px;
    font-family: monospace;
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: #000;
    background-image: url(/img/background_noisy.webp);
    overflow-x: hidden;
}
.theme-switch {
    position: relative;
    top: 0px;
    right: 0px;
}
.dark-mode {
    background-color: slategray; 
    color: #121212;
}

h1, p {
    margin: 20px;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 400px;
    font-size: xx-large;
}

header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0px;
    width: 100%;
    background-color: #333333;
    align-items: center;
    z-index: 10000000000;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    display: block;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 3px 20px;
    transition: background-color 0.6s ease;
    border-width: 4px;
}

.content {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, gold, #a200ff);
    padding: 20px;
    text-align: center;
    line-height: 160px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.underline1 {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline1:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: 0px;
    background: rgb(0, 195, 255);
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.underline1:hover:after,
.underline1:focus:after,
.underline1:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.goldnh:hover{
    color: gold;
    transition: 1s ease;
}

main {
    padding: 20px;
}

*{
    padding: 0;
    margin: 0;
}

.pagemaint{
    margin-bottom: 3px;
    width: 100%;
    background-color: red;
    align-items: center;
    padding: 10px;
    top: -21px;
    position: relative;
    opacity: 1;
}

.box1-text{
    font-size: 50px; 
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    clip-path: inset(-6px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
    position: absolute;
    margin-bottom: 280px;
    margin-top: 140px;
}
.box2-text {
    font-size: 50px; 
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    clip-path: inset(-6px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
    position: absolute;
}

.box1-text::after {
    content: attr(data-text);
    background-clip: text;
    -webkit-background-clip: text;
    color: linear-gradient(45deg, gold, #a200ff);
    opacity: 1;
    animation: move 1s forwards;
    background-clip: text;
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);

    border-width: 4px;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

@keyframes move {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.box3 {
    text-align: center;
    
    margin: 0;
    padding: 0;
    border-radius: 25px;
}
.box3b{
    text-align: center;
    background-image: linear-gradient(to left, #23B5D3);
    margin: 0;
    padding: 0;
    border-radius: 25px;
    position: relative;
    height: 50px;
    width: 400px;
    font-size: xx-large;
    font-size: 40px;
    color: white;
    
}
.box3c{
    color: white;
}



.proj-container {
    display: grid;
    grid-template-columns: repeat(2, 427px);
    gap: 2px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;

}

.project-box {
    width: 400px;
    margin: 20px 0;
    padding: 20px;
    background-color: transparent;
    border: 2px solid rgb(0, 225, 255);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.project-box::before,
.project-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

.project-box::before {
    border-image: linear-gradient(to center, transparent, rgb(6, 35, 73), transparent);
    border-image-slice: 1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.project-box::after {
    border-image: linear-gradient(to left, transparent, rgb(0, 247, 255), transparent);
    border-image-slice: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

.project-box:hover::before,
.project-box:hover::after {
    transform: scaleX(1);
}

.projrole,
.projdays2,
.projdays1,
.projdays {
    border-bottom: 2px solid rgb(0, 225, 255);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(0, 225, 255);
}

.projname {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(0, 225, 255);
}

.projused {
    font-size: 20px;
    margin-bottom: 10px;
}

.projused span {
    margin: 0 5px;
}

.projdis {
    border-top: 2px solid rgb(0, 225, 255);
    padding-top: 10px;
    font-size: 14px;
    color: rgb(0, 225, 255);
}

.material-symbols-outlined {
    font-size: 20px;
}

.project-box:hover .oren {
    color: orange !important;
    transition: 1s ease;
}

.project-box:hover .yellow {
    color: yellow !important;
    transition: 1s ease;
}

.project-box:hover .blue {
    color: rgb(0, 255, 255) !important;
    transition: 1s ease-in-out;
}

.project-box:hover .whiter{
    color: white !important;
    transition: 1s ease-in-out;
}
.project-box:hover .red{
    color: red !important;
    transition: 1s ease-in-out;
}
.project-box:hover .amb{
    color: green !important;
    transition: 1s ease-in-out;
}
.project-box:hover .yellow{
    color: yellow;
    transition: 1s ease-in-out;
}

.project-box a {
    text-decoration: none;
    color: rgb(0, 225, 255);
}
@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px); 
    }
}

footer {
    background-image: linear-gradient(to center, #23B5D3, black);
    text-align: center;
    border-top-width: 5px; 
    border-top-color: rgb(46, 46, 46); 
    border-top-style: solid; 
    clip-path: inset(-6px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

.footer1{
    height: 100px;
    width: 400px;
    background-color: transparent;
    left: 4.5%;
    margin: 0 -100px 10px 10px;
    text-align: left;
    color: black;
    text-shadow: 5px 5px 100px white;
    min-height: 10px;
    top: 1px;
    cursor: default;
    text-decoration: none;

}
.footer1 h4{
    text-shadow: 4px 2px 7px white;
    font-size: x-large;
    color: white;
    z-index: 7;
    cursor: pointer;
    text-decoration: none;
}
.footer1 p{
    font-size: small;
    color: white;
    z-index: 199999999999999999999999999999999999999999999999999;
    cursor: default;
    text-decoration: none;
}
.footer1 p:hover {
    color: gold;
    transition: 1s;
    cursor: default;
    text-decoration: none;
}
.footer1 h4:hover {
    color: gold;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    font-size: xx-large;
}

header{
    color: white;
    background-color: transparent;
}
nav ul li a:hover,
.project-box {
    border-width: 5px;
}


.hidden{
    opacity: 0;
    transition: 0.2s;
}
.show{
    opacity: 1;
    transition: 7s;
}
.about-container {
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: repeat(3, 427px);
    display: grid;
  }
  

  .about {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    position: relative;
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease;
    border-width: 3px;
    box-shadow: h-offset v-offset blur spread all;
    opacity: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: fixed;
  }
.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  

.aboutcode{
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 0;
    padding: 9px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: transparent;
    font-size: 34px;
    color: gray;
    transition: transform 0.3s ease;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: xx-large;
    text-indent: 5px;
    border-width: 3px;
}
.aboutdev{
    width: 250px;
    height: auto;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 0;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: transparent;
    font-size: 34px;
    color: white;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 58px;
    left: 4.5%;
    border-width: 2px;
    font-size: xx-large;
    text-indent: 5px;
    text-align: center;
}

.abouttext{
    width: 350px;
    height: auto;
    border-radius: 5px;
    margin: 0; 
    padding: 9px 2px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: transparent;
    font-size: 25px;
    color: white;
    transition: transform 0.3s ease;
    position: absolute; 
    top: 30px;
    left: 0;
    border-width: 2px;
    text-align: center;
    text-indent: 5px;
}

.about p {
    margin: 0;
    border-radius: 10px;
}

.about a {
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
}

.about:hover {
    transform: scale(1.1);
    border-radius: 10px;
    transform: 1s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .underline {
    border-bottom: 5px solid rgb(0, 195, 255);
  }

.box1-text {
  background-image: linear-gradient(45deg, gold, #a200ff);
  animation: moveGradient1 5s linear infinite;
}

.box2-text {
  display: none;
  background-image: linear-gradient(45deg, gold, #a200ff);
  animation: moveGradient2 5s linear infinite;
}




@keyframes moveGradient1 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient2 {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 250px) {
    body:before {
        content: "If you can turn your device horizontally for a better experience.";
        display: block;
        font-size: 14px;
        padding: 5px;
        background-color: red;
        color: #fff;
        text-align: center;
    }
}


.mobile-menu-button {
    display: none; /* Hide the menu button by default */
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    border: none;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-list li {
    margin: 0 15px;
}

.cvholder{
    display: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
.cv{
    height: 300;
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    scrollbar-color: black;
    position: relative;
    cursor: pointer;
    border: solid 5px purple;
    box-shadow: 0.1px 0px 2px 3px gray;
}
.cv:hover{
    box-shadow: 0px 0px 0px 0px transparent;
    transition: ease-in-out 1s;
}
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./wave-haikei\ \(1\).svg);
    z-index: 9;
}
.glower {
    height: 1px;
    width: 1px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 300px 200px rgba(0, 255, 255, 0.5), 0 0 300px 200px rgba(128, 0, 255, 0.5);
    background-color: transparent;
    z-index: -100000000000000000000000000000000;
}
.glower1 {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 5px 100px 800px 200px blue;
    background-color: transparent;
    z-index: -5;
    z-index: -100000000000000000000000000000000;
}
.glower2 {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: 5px 100px 400px 200px gold;
    background-color: transparent;
    z-index: -5;
    z-index: -100000000000000000000000000000000;
}
#offline-marker {
    position: relative;
    top: 15px;
    left: 50%;
    height: 15px;
    width: 15px;
    background-color: red; 
    box-shadow: 1px 1px 8px 2px red;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 100%;
    display: none; 
    animation: hhh 3s infinite;
}

@keyframes hhh {
    0%, 100% {
        box-shadow: 0 0 5px 5px red;
      }
      50% {
        box-shadow: 0 0 7px 10px red;
      }
}
  .stars {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background-color: white;
    z-index: -5;
    position: relative;
    animation: twinkle 3s infinite;
    left: -40%;
  }
  .stars1 {
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background-color: white;
    z-index: -5;
    position: relative;
    animation: twinkle 3s infinite;
    left: 30%;
  }
  @keyframes twinkle {
    0%, 100% {
      box-shadow: 0 0 10px 5px white;
    }
    50% {
      box-shadow: 0 0 20px 10px white;
    }
  }
  /* Mobile menu styles */
.mobile-menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-list li {
    margin: 0 15px;
}
.linkedinc {
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    grid-template-columns: repeat(2, 627px);
}
  

.linkedin {
    width: 400px;
    height: auto;
    margin: 20px;
    position: relative;
    font-size: 24px;
    color: #ffffff;
    transition: transform 0.3s ease;
    border-width: 3px;
    box-shadow: h-offset v-offset blur spread all;
    border-style: solid;
    opacity: 1;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: fixed;
    border-color: #0077B5;
}
.linkedinuser{
    background-color: transparent;
    height: 50px;
    top: 0px;
    border-bottom: #0077B5 5px solid;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.linkedin:hover{
    transform: scale(1.1);
    border-radius: 10px;
    backdrop-filter: blur(0.6px);
    transform: 1s;
    border-color: gold;
    .linkedinuser{
        color: gold;
        border-bottom-color: gold;
    }
}
.warnboxc {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin-top: 50px;
}

.warnbox{
    width: 500px;
    height: auto;
    margin: 20px;
    position: relative;
    font-size: 24px;
    color: #ffffff;
    border: 3px solid #ffcc00;
    text-align: center;
}

.warnbox p {
    color: transparent;
    text-shadow: 0 0 10px white;
}

.warnbox p:hover {
    color: white;
    text-shadow: none;
}
.github{
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: relative;
    margin: 20px;
    backdrop-filter: blur(0.6px);
    transition: 1s ease-in-out;
}
.linkedin1{
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: relative;
    margin: 20px;
    transition: 1s ease-in-out;
    backdrop-filter: blur(0.6px);
}
.linkedin1:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.github:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.expandyt:hover{
    transform: scale(1.2);
}
.expandyt{
    height: 60px; 
    width: 60px; 
    border-radius: 10px;
    transition: 1s ease-in-out
}
.container1 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 20px;
    position: relative;
    left: 60px;
    justify-content: center;
    margin-top: 50px;
    border-radius: 10px;
}

.linkedc {
    position: relative;
    text-align: center;
    padding: 20px;
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
    transition: transform 0.3s ease;
    left: 30px;
}

.linkedc:hover {
    transform: scale(1.05);
}

.linkedt {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.linkeds {
    font-size: 18px;
    color: rgb(156, 156, 156);
    position: relative;
}

.linkedb {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #00c3ff, purple);
    cursor: pointer;
    transition: transform 0.3s ease, top 0.3s ease;
}

.linkedb:hover {
    transform: scale(1.05);
    top: 18px;
    filter: brightness(1.2);
}
.linkedt:hover{
    color: gold;
    transition: 1s ease-out;
}
.button3{
    border-radius: 10px;
    border: #ffffff 2px solid;
    width: 500px;
    height: 50px;
    text-align: center;
}
.holderc{
    display: grid;
    grid-template-columns: repeat(2, 427px);
    position: relative;
    justify-content: center;
    margin-top: 50px;
    border-radius: 10px;
    gap: 20px;
}
.cirth{
    width: 400px;
    height: 330px;
    border-radius: 5px;
    padding: 20px;
    background-color: transparent;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    filter: hue-rotate(360deg);
    border-width: 5px;
    border-color: #007BFF;
    box-shadow: h-offset v-offset blur spread color;
    border-style: solid;
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    color: black;
    z-index: 100000;
}
.cirtpic{
    align-items: center;
    background-color: transparent;
    height: 200px;
    position: relative;
}
.namec{
    height: 50px;
    border: #007BFF 4px solid;
    position: relative;
    top: 20px;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
}
.cirth:hover{
    transform: scale(1.1);
}
.messageimp{
    border: 2px solid green;
    width: auto;
    border-radius: 5px;
    height: auto;
    justify-content: center;
    text-align: center;
    top: 10px;
    position: relative;
}