body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: black;
    top: 0;
    width: 100%;
    touch-action: pan-y;
    overflow-x: hidden;
}
section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 400px;
    font-size: xx-large;
}

header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0px;
    width: 100%;
    background-color: #333333;
    align-items: center;
    z-index: 10000000000;
}

.hidden{
    background-color: gray !important;
}

.line{
    background-color: gray;
    height: 20px;
    width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    z-index: -2;
}
.pfp{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-position: center;
    left: -100px;
    top: -50px;
    position: absolute;
    z-index: 6;
}
.pfpwar1{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: green;
    z-index: 1;
    left: 95px;
    top: 75px;
    position: absolute;
}
.pfpwar2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellowgreen;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar3{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellow;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar4{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 145, 0);
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.pfpwar5{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    z-index: 2;
    left: 95px;
    top: 75px;
    position: relative;
}
.linepoints{
    background-color: green;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 80px;
    top: -25px;
    align-items: center;
}
.linepoints1{
    background-color: yellowgreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 200px;
    top: -93px;
    
}
.linepoints2{
    background-color: yellow;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 320px;
    top: -163px;
}
.linepoints3{
    background-color: rgb(255, 145, 0);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 440px;
    top: -233px;
}
.linepoints4{
    background-color: red ;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    left: 560px;
    top: -303px;
}
.linepoints img,
.linepoints1 img,
.linepoints2 img,
.linepoints3 img,
.linepoints4 img {
    display: block;
    margin:  auto;
}
.line1{
    background-color: green;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 0px;
    top: -350px;
    z-index: -1;
}
.line2{
    background-color: yellowgreen;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 100px;
    top: -370px;
    z-index: -1;
}
.line3{
    background-color: yellow;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 210px;
    top: -390px;
    z-index: -1;
}
.line4{
    background-color: rgb(255, 145, 0);
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 330px;
    top: -410px;
    z-index: -1;
}
.line5{
    background-color: red;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    position: relative;
    left: 460px;
    top: -430px;
    z-index: -1;
}
.aboutitc{
    height: 300px;
    width: 800px;
    background-color: rgb(85, 85, 85);
    position: absolute;
    top: 350px;
    z-index: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.aboutith{
    height: 80px;
    width: 800px;
    background-color: rgb(85, 85, 85);
    position: relative;
    z-index: 4;
    font-size: large;
    color: white;
    text-align: left;
    border-bottom: rgb(255, 255, 255) 3px solid;
    padding-left: 20px;
    padding-bottom: -100px;
    float: left;
}
.actions{
    border-bottom: black 4px solid;
    height: auto;
    width: 100%;
    color: white;
    font-size: x-large;
    text-align: center;
}
.input-container{
    position: relative;
    display: flex;
    top: 200px;

}
/* width */
.aboutitc::-webkit-scrollbar {
    width: 5px;
    margin-right: 2px;
  }
  
  /* Track */
.aboutitc::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0.5px;
  }
  
  /* Handle */
.aboutitc::-webkit-scrollbar-thumb {
    background: rgb(255, 252, 252);
    border-end-start-radius: 5px;
  }
  
  /* Handle on hover */
.aboutitc::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#pfpp {
    margin-bottom: 10px;
}

#inputField {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

#addButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #0056b3;
}
#pfpp{
    color: white;
    align-items: center;
}
@media screen and (max-width: 768px){
    .aboutitc{
        width: 90%;
        height: 200px;
        top: 900px;
        font-size: 10px;
        border-radius: 0px;
    }
    .aboutith{
        font-size: 14px;
    }
    .line{
        width: 10%;
        rotate: 90deg;
    }
    .linepoints{
        rotate: 270deg;
    }
    .linepoints p{
        left: 50px;
    }
    .linepoints1 p{
        left: 50px;
    }
    .linepoints1{
        rotate: 270deg;
    }
    .linepoints2{
        rotate: 270deg;
    }
    .linepoints3{
        rotate: 270deg;
    }
    .linepoints4{
        rotate: 270deg;
    }
    .input-container{
        top: 650px;
    }
    .pfp{
        rotate: 270deg;
        left: -80px;
    }
}